@font-face {
  font-family: "Nodesto";
  src: url('../fonts/NodestoCapsCondensed.otf');
}
/* Nodesto Font */
.nodesto {
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  color: #444;
}
/* Flexbox */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
/* ----------------------------------------- */
/*  Actor Sheet
/* ----------------------------------------- */
.dnd5e.sheet .window-content {
  padding: 5px;
  font-size: 13px;
}
.dnd5e.sheet form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* Form Elements */
}
.dnd5e.sheet form > * {
  flex: 1;
}
.dnd5e.sheet form input[type="text"] {
  background: none;
  border: none;
  padding: 0;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  color: #444;
  border: 1px solid transparent;
}
.dnd5e.sheet form input[type="text"]:hover,
.dnd5e.sheet form input[type="text"]:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}
.dnd5e.sheet form input:disabled,
.dnd5e.sheet form select:disabled,
.dnd5e.sheet form textarea:disabled {
  color: #444;
}
.dnd5e.sheet form input:disabled:hover,
.dnd5e.sheet form select:disabled:hover,
.dnd5e.sheet form textarea:disabled:hover,
.dnd5e.sheet form input:disabled:focus,
.dnd5e.sheet form select:disabled:focus,
.dnd5e.sheet form textarea:disabled:focus {
  border: 1px solid transparent;
  box-shadow: none;
}
.dnd5e.sheet form span,
.dnd5e.sheet form label {
  display: block;
}
.dnd5e.sheet form .mce-panel span {
  display: inherit;
}
.dnd5e.sheet form.editable .rollable:hover {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.dnd5e.sheet form .sheet-header {
  flex: 0 0 100%;
  height: 44px;
  order: 1;
}
.dnd5e.sheet form .sheet-body {
  flex: 1;
  height: calc(100% - 44px);
  order: 3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.dnd5e.sheet form .sheet-sidebar {
  flex: 0 0 220px;
  height: calc(100% - 44px);
  order: 2;
  border-right: 1px solid #AAA;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.dnd5e.sheet form .sheet-sidebar > * {
  flex: 1;
}
.dnd5e.sheet form .sheet-sidebar img.sheet-profile {
  width: 220px;
  height: 220px;
  border: none;
  border-bottom: 1px solid #CCC;
}
.dnd5e.sheet form .sheet-sidebar .tab {
  padding-right: 3px;
}
.dnd5e.sheet form .sheet-tabs {
  flex: 0 0 28px;
  margin-top: 2px;
  padding: 0 2px;
  border-bottom: 1px solid #666;
}
.dnd5e.sheet form .sheet-tabs > .item {
  line-height: 28px;
  padding: 0 10px;
  border-radius: 5px 5px 0 0;
}
.dnd5e.sheet form .sheet-tabs > .item.active {
  color: #000;
  font-weight: 700;
  border: 1px solid #666;
  border-bottom: none;
  box-shadow: 0 0 10px inset #ff6400;
  text-shadow: none;
}
.dnd5e.sheet form .tab {
  flex: 1 0 380px;
  overflow: hidden;
}
/* ---------------------------------------- */
/*  Sheet Header                            */
/* ---------------------------------------- */
.dnd5e.actor-sheet .sheet-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 1px solid #CCC;
}
.dnd5e.actor-sheet .sheet-header > * {
  flex: 1;
}
.dnd5e.actor-sheet .sheet-header .charname {
  height: 44px;
  padding: 5px 5px 5px 0;
  border: none;
}
.dnd5e.actor-sheet .sheet-header .charname > input {
  width: 100%;
  margin: 0;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  color: #444;
  font-size: 36px;
  border: none;
}
.dnd5e.actor-sheet .sheet-header .charlevel {
  flex: 0 0 150px;
  height: 44px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: right;
}
.dnd5e.actor-sheet .sheet-header .charlevel > * {
  flex: 1;
}
.dnd5e.actor-sheet .sheet-header .charlevel .level {
  flex: 0 0 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  color: #444;
  font-size: 20px;
  line-height: 20px;
}
.dnd5e.actor-sheet .sheet-header .charlevel .level > * {
  flex: 1;
}
.dnd5e.actor-sheet .sheet-header .charlevel .level > input[type="text"] {
  flex: 0 0 26px;
  height: 20px;
  text-align: center;
}
.dnd5e.actor-sheet .sheet-header .charlevel .xpbar {
  width: 100%;
  flex: 0 0 8px;
  background: #666;
  border: 1px solid #000;
  border-radius: 3px;
}
.dnd5e.actor-sheet .sheet-header .charlevel .xpbar .bar {
  height: 4px;
  margin: 1px;
  display: block;
  background: #afebff;
  border: 1px solid #000;
  border-radius: 2px;
}
.dnd5e.actor-sheet .sheet-header .charlevel .experience {
  flex: 0 0 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: flex-end;
}
.dnd5e.actor-sheet .sheet-header .charlevel .experience > * {
  flex: 1;
}
.dnd5e.actor-sheet .sheet-header .charlevel .experience > input[type="text"] {
  flex: 1;
  text-align: right;
  height: 16px;
}
/* ---------------------------------------- */
/*  Sheet Body                              */
/* ---------------------------------------- */
/* Character Details */
.dnd5e.actor-sheet .sheet-body .details {
  flex: 0 0 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #CCC;
}
.dnd5e.actor-sheet .sheet-body .details .character-detail {
  width: 33.33%;
  height: 24px;
  float: left;
  margin: 3px 0;
  padding-left: 3px;
  border-right: 1px solid #CCC;
}
.dnd5e.actor-sheet .sheet-body .details .character-detail:last-child {
  border-right: none;
}
.dnd5e.actor-sheet .sheet-body .details .character-detail > input {
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  color: #444;
  font-size: 20px;
}
.dnd5e.npc-sheet .sheet-body .details .character-detail {
  width: 25%;
}
/* Primary Attributes */
.dnd5e.actor-sheet .primary-attributes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex: 0 0 80px;
  border-bottom: 1px solid #CCC;
}
.dnd5e.actor-sheet .primary-attributes > * {
  flex: 1;
}
.dnd5e.actor-sheet .primary-attributes .attribute {
  flex: 0 0 25%;
  height: 72px;
  margin: 4px 0;
  padding: 0 4px;
  border-right: 1px solid #CCC;
}
.dnd5e.actor-sheet .primary-attributes .attribute:last-child {
  margin-right: 0;
  border-right: none;
}
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-name {
  position: relative;
  height: 22px;
  margin: 0 0 2px;
  line-height: 22px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  color: #444;
  text-align: center;
  border-bottom: 1px solid #CCC;
}
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-name .npc-roll-hp {
  position: absolute;
  right: 2px;
}
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-value {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 32px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  color: #444;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-value > * {
  flex: 1;
}
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-footer {
  height: 16px;
  text-align: center;
}
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-footer span {
  display: inline-block;
}
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-footer input {
  max-width: 24px;
}
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-footer input.temphp {
  max-width: 45%;
}
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-footer input.hit-dice {
  min-width: 16px;
  max-width: 16px;
  text-align: right;
}
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-footer input[name="data.attributes.speed.value"] {
  max-width: none;
  text-align: left;
}
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-footer input.speed,
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-footer input.hpformula {
  max-width: 90%;
}
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-footer a.rest {
  padding: 0 2px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid #CCC;
  border-radius: 2px;
}
.dnd5e.actor-sheet .primary-attributes .attribute .attribute-footer.recharge input[type="checkbox"] {
  margin: 1px;
}
/* Status Effects */
.dnd5e.actor-sheet .statuses {
  flex: 0 0 26px;
  margin: 3px 0 0;
  border-bottom: 1px solid #CCC;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.dnd5e.actor-sheet .statuses > * {
  flex: 1;
}
.dnd5e.actor-sheet .statuses .status {
  padding: 0 6px;
  border-right: 1px solid #CCC;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.dnd5e.actor-sheet .statuses .status > * {
  flex: 1;
}
.dnd5e.actor-sheet .statuses .status.death {
  flex: 0 0 50%;
}
.dnd5e.actor-sheet .statuses .status:last-child {
  border-right: none;
}
.dnd5e.actor-sheet .statuses .status h4 {
  flex: 1;
  margin: 0;
  font-size: 12px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  color: #444;
}
.dnd5e.actor-sheet .statuses .status .status-value {
  flex: none;
}
.dnd5e.actor-sheet .statuses .status .status-value > * {
  display: inline-block;
  margin-right: 5px;
}
.dnd5e.actor-sheet .statuses .status .status-value > input[type="text"] {
  height: 20px;
  max-width: 20px;
  margin: 0;
}
.dnd5e.actor-sheet .statuses .status .status-value > input[type="checkbox"] {
  position: relative;
  top: 2px;
}
/* ----------------------------------------- */
/* Biography Tab
/* ----------------------------------------- */
.dnd5e.actor-sheet .biography .editor-content {
  height: 100%;
  padding: 0 8px;
  overflow-y: scroll;
}
/* ----------------------------------------- */
/* Abilities Sidebar Tab
/* ----------------------------------------- */
.dnd5e .abilities {
  margin-bottom: 3px;
}
.dnd5e .abilities .abilities-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dnd5e .abilities .ability {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #CCC;
}
.dnd5e .abilities .ability > * {
  flex: 1;
}
.dnd5e .abilities .ability .ability-proficiency {
  flex: 0 0 24px;
}
.dnd5e .abilities .ability .ability-proficiency i.fa-circle {
  font-size: 10px;
}
.dnd5e .abilities .ability .ability-name {
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  color: #444;
  margin: 0;
}
.dnd5e .abilities .ability .ability-score {
  flex: 0 0 36px;
}
.dnd5e .abilities .ability .ability-score > input {
  width: 30px;
  height: 30px;
  margin: 3px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  color: #444;
  font-size: 22px;
  text-align: center;
}
.dnd5e .abilities .ability .ability-mod,
.dnd5e .abilities .ability .ability-save {
  flex: 0 0 24px;
  margin: 8px 0;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  color: #444;
  line-height: 24px;
  color: #666;
  text-align: center;
}
.dnd5e .abilities .ability .ability-mod {
  border-right: 1px solid #CCC;
}
.dnd5e .abilities .ability .ability-save {
  border-left: 1px solid #CCC;
}
/* ----------------------------------------- */
/* Skills Tab
/* ----------------------------------------- */
.dnd5e .skills li.skill {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 21px;
  line-height: 21px;
  border-bottom: 1px solid #CCC;
  font-size: 13px;
}
.dnd5e .skills li.skill > * {
  flex: 1;
}
.dnd5e .skills li.skill .skill-name {
  margin: 0;
}
.dnd5e .skills li.skill .skill-proficiency {
  flex: 0 0 24px;
}
.dnd5e .skills li.skill .skill-proficiency i.fa-circle {
  font-size: 10px;
}
.dnd5e .skills li.skill .skill-ability {
  flex: 0 0 36px;
  color: #666;
  text-align: right;
  margin-right: 4px;
}
.dnd5e .skills li.skill .skill-mod {
  flex: 0 0 28px;
  text-align: center;
}
.dnd5e.locked .ability-proficiency,
.dnd5e.locked .skill-proficiency {
  text-shadow: none;
  cursor: default;
}
/* ----------------------------------------- */
/* Traits Tab
/* ----------------------------------------- */
.traits .form-group label {
  flex: 0 0 50%;
}
.traits label {
  font-weight: bold;
}
/* ----------------------------------------- */
/* Inventory Tab
/* ----------------------------------------- */
.currency {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #CCC;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 12px;
  line-height: 20px;
}
.currency > * {
  flex: 1;
}
.currency li.denomination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 3px 3px 0;
  justify-content: flex-end;
  border-right: 1px solid #CCC;
}
.currency li.denomination > * {
  flex: 1;
}
.currency li.denomination label {
  flex: none;
  margin-right: 3px;
}
.currency li.denomination input {
  text-align: right;
  max-width: 48px;
}
.currency li.denomination:last-child {
  border-right: none;
}
/* Inventory List */
.inventory-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: calc(100% - 44px);
  overflow-y: scroll;
  /* Inventory Item */
  /* Inventory Header */
}
.inventory-list .item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  line-height: 24px;
  padding: 0;
  border-bottom: 1px solid #CCC;
}
.inventory-list .item > * {
  flex: 1;
}
.inventory-list .item .item-name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.inventory-list .item .item-name > * {
  flex: 1;
}
.inventory-list .item .item-name img {
  flex: 0 0 24px;
  margin-right: 6px;
}
.inventory-list .item .item-name h4 {
  flex: 2;
  margin: 0;
}
.inventory-list .item .item-name .prepared {
  color: #666;
  margin-left: 3px;
  font-size: 10px;
}
.inventory-list .item .item-name .item-charges {
  color: #666;
  font-size: 12px;
  flex: 0;
}
.inventory-list .item .item-quantity,
.inventory-list .item .item-weight {
  flex: 0 0 32px;
  font-size: 12px;
  color: #666;
  text-align: center;
  border-right: 1px solid #CCC;
}
.inventory-list .item .item-controls {
  flex: 0 0 44px;
}
.inventory-list .item .item-controls a {
  display: block;
  float: left;
  width: 22px;
  font-size: 10px;
  text-align: center;
  color: #666;
}
.inventory-list .inventory-header {
  font-weight: 700;
  line-height: 20px;
  background: rgba(0, 0, 0, 0.05);
}
.inventory-list .inventory-header h3 {
  font-size: 1em;
  margin: 0;
  padding-left: 32px;
  font-weight: bold;
}
.inventory-list .inventory-header .item-quantity,
.inventory-list .inventory-header .item-weight {
  color: #111;
}
.inventory-list .inventory-header .item-controls a.item-create {
  width: 100%;
}
/* Encumbrance Bar */
.encumbrance {
  background: rgba(0, 0, 0, 0.1);
  height: 12px;
  margin-top: 5px;
  border: 1px solid #111;
  border-radius: 3px;
}
.encumbrance .encumbrance-bar {
  background: #782e22;
  height: 8px;
  margin: 1px;
  border: 1px solid #ff6400;
  border-radius: 3px;
}
.encumbrance .encumbrance-label {
  float: right;
  text-align: right;
  padding-right: 5px;
  font-size: 12px;
  line-height: 12px;
}
/* ----------------------------------------- */
/*  Spellbook Tab
/* ----------------------------------------- */
.dnd5e.sheet .spellbook .spellcasting-ability {
  margin: 0;
  padding: 3px 3px 0;
  border-bottom: 1px solid #CCC;
  font-size: 12px;
}
.dnd5e.sheet .spellbook .spellcasting-ability label {
  line-height: 20px;
}
.dnd5e.sheet .spellbook .spellcasting-ability select {
  flex: 1;
  font-size: 10px;
  height: 18px;
  background: rgba(255, 255, 255, 0.5);
}
.dnd5e.sheet .spellbook .spellbook-header .spell-school,
.dnd5e.sheet .spellbook .spellbook-header .spell-action {
  color: inherit;
}
.dnd5e.sheet .spellbook .inventory-list {
  height: calc(100% - 28px);
}
.dnd5e.sheet .spellbook .item-name {
  flex: 2;
}
.dnd5e.sheet .spellbook .spell-school,
.dnd5e.sheet .spellbook .spell-action {
  flex: 1;
  font-size: 12px;
  color: #666;
  text-align: center;
  border-right: 1px solid #CCC;
}
.dnd5e.sheet .spellbook .spell-slots,
.dnd5e.sheet .spellbook .spell-max {
  flex: 0 0 24px;
  font-size: 12px;
  text-align: center;
}
.dnd5e.sheet .spellbook .spell-max {
  border-right: 1px solid #CCC;
}
.dnd5e.sheet .spellbook .spellbook-empty .item-controls {
  flex: 1;
}
/* ----------------------------------------- */
/* Class List
/* ----------------------------------------- */
.class-header {
  line-height: 20px;
  position: relative;
  margin: 3px 0 1px;
}
.class-header h3 {
  text-align: center;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  color: #444;
  font-size: 18px;
  color: #222;
  margin: 0;
}
.class-header a.item-create {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
  color: #666;
}
.class-list {
  overflow: hidden;
}
.class-list .item {
  background: rgba(0, 0, 0, 0.03);
  padding: 3px 3px 0;
  border: 1px solid #CCC;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 3px;
}
.class-list .item .class-levels,
.class-list .item .item-controls {
  line-height: 16px;
  font-size: 10px;
  text-align: right;
}
.class-list .item .class-levels {
  padding-right: 5px;
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px;
  color: #444;
  color: #222;
}
.class-list .item > * {
  line-height: 20px;
}
.class-list .item .class-name,
.class-list .item .class-subclass {
  margin: 0;
  flex: 1 0 75%;
}
.class-list .item .class-name {
  font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
  color: #444;
  color: #222;
  font-size: 18px;
}
.class-list .item .class-subclass {
  line-height: 14px;
  font-size: 13px;
  color: #999;
}
/* ----------------------------------------- */
/*  Item Sheet
/* ----------------------------------------- */
.dnd5e.item-sheet .item-details {
  list-style: none;
  margin: 5px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-between;
}
.dnd5e.item-sheet .item-details > * {
  flex: 1;
}
.dnd5e.item-sheet .item-details > li {
  flex: 0 0 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 14px;
  text-align: center;
}
.dnd5e.item-sheet .item-details > li > * {
  flex: 1;
}
.dnd5e.item-sheet .item-details label {
  line-height: 20px;
}
.dnd5e.item-sheet .consumable-charges input {
  flex: 0 0 64px;
  margin-left: 5px;
  text-align: center;
}
.dnd5e.item-sheet .sheet-tabs {
  padding: 5px 0;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  font-size: 14px;
  font-weight: bold;
}
.dnd5e.item-sheet .sheet-tabs .active {
  text-decoration: underline;
}
.dnd5e.item-sheet .editor {
  height: 300px;
  overflow-y: scroll;
}
/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */
.dnd5e.chat-card {
  font-style: normal;
}
.dnd5e.chat-card .card-header {
  padding: 3px 0;
  border-top: 2px groove #FFF;
  border-bottom: 2px groove #FFF;
}
.dnd5e.chat-card .card-header img {
  flex: 0 0 36px;
  margin-right: 5px;
}
.dnd5e.chat-card .card-header h3 {
  flex: 1;
  margin: 0;
  line-height: 36px;
}
.dnd5e.chat-card .card-content {
  margin: 5px 0;
}
.dnd5e.chat-card .card-buttons {
  margin: 5px 0;
}
.dnd5e.chat-card .card-buttons span {
  display: block;
  line-height: 28px;
  text-align: center;
  border: 1px solid #CCC;
}
.dnd5e.chat-card .card-buttons button {
  margin: 2px 0;
}
.dnd5e.chat-card .card-footer {
  padding: 3px 0 0;
  border-top: 2px groove #FFF;
}
.dnd5e.chat-card .card-footer span {
  border-right: 2px groove #FFF;
  padding: 0 5px 0 0;
  font-size: 12px;
}
.dnd5e.chat-card .card-footer span:last-child {
  border-right: none;
  padding-right: 0;
}
