<div class="dnd5e chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item.id}}">
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3>{{item.name}}</h3>
    </header>

    <div class="card-content">
        {{{data.description.value}}}

        {{#if data.materials.value}}
        <p><strong>Required Materials.</strong> {{data.materials.value}}</p>
        {{/if}}
    </div>

    <div class="card-buttons">
        {{#if data.isSave}}<span>Save DC {{actor.data.data.attributes.spelldc.value}} ({{data.save.str}})</span>{{/if}}
        {{#if data.isAttack}}<button data-action="spellAttack">Attack</button>{{/if}}
        {{#if data.damage.value}}<button data-action="spellDamage">Damage</button>{{/if}}
    </div>

    <footer class="card-footer">
        {{#each data.properties}}
        <span>{{this}}</span>
        {{/each}}
    </footer>
</div>
