<form class="{{cssClass}}" autocomplete="off">

    <!-- HEADER -->
    <header class="sheet-header">
        <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/>
        </h1>

        <div class="charlevel">
            <div class="level">
                <label>Level </label>
                <input name="data.details.level.value" type="text" value="{{data.details.level.value}}"
                       data-dtype="Number" placeholder="1"/>
            </div>
            <div class="xpbar">
                <span class="bar" style="width: {{data.details.xp.pct}}%"></span>
            </div>
            <div class="experience">
                <input name="data.details.xp.value" type="text" value="{{data.details.xp.value}}"
                       data-dtype="Number" placeholder="0"/>
                <span class="max" data-wpad="14"> / {{data.details.xp.max}}</span>
            </div>
        </div>
    </header>

    <!-- BODY -->
    <section class="sheet-body">

        <!-- DETAILS -->
        <ul class="details">
            <li class="character-detail">
                <input name="data.details.race.value" type="text" value="{{data.details.race.value}}" placeholder="Race"/>
            </li>
            <li class="character-detail">
                <input name="data.details.background.value" type="text" value="{{data.details.background.value}}" placeholder="Background"/>
            </li>
            <li class="character-detail">
                <input name="data.details.alignment.value" type="text" value="{{data.details.alignment.value}}" placeholder="Alignment"/>
            </li>
        </ul>

        <!-- ATTRIBUTES -->
        <div class="primary-attributes">
            <div class="attribute">
                <h4 class="attribute-name">Health</h4>
                <div class="attribute-value">
                    <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
                           data-dtype="{{data.attributes.hp.type}}" placeholder="10"/>
                    <span class="flex0"> / </span>
                    <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}"
                           data-dtype="{{data.attributes.hp.type}}" placeholder="10"/>
                </div>
                <footer class="attribute-footer">
                    <input name="data.attributes.hp.temp" type="text" class="temphp" placeholder="+Temp"
                           value="{{data.attributes.hp.temp}}" data-dtype="{{data.attributes.hp.type}}"/>
                    <input name="data.attributes.hp.tempmax" type="text" class="temphp" placeholder="+Max"
                           value="{{data.attributes.hp.tempmax}}" data-dtype="{{data.attributes.hp.type}}"/>
                </footer>
            </div>

            <div class="attribute">
                <h4 class="attribute-name">Armor Class</h4>
                <div class="attribute-value">
                    <input name="data.attributes.ac.value" type="text" value="{{data.attributes.ac.value}}"
                           data-dtype="{{data.attributes.ac.type}}" placeholder="10"/>
                </div>
                <footer class="attribute-footer">
                    <span>Base AC {{data.attributes.ac.min}}</span>
                </footer>
            </div>

            <div class="attribute">
                <h4 class="attribute-name">Proficiency</h4>
                <div class="attribute-value">
                    <span>{{numberFormat data.attributes.prof.value decimals=0 sign=true}}</span>
                </div>
                <footer class="attribute-footer">
                    <span>Spell DC {{data.attributes.spelldc.value}}</span>
                </footer>
            </div>

            <div class="attribute">
                <h4 class="attribute-name">Initiative</h4>
                <div class="attribute-value">
                    <span>{{numberFormat data.attributes.init.mod decimals=0 sign=true}}</span>
                </div>
                <footer class="attribute-footer">
                    <span>Modifier</span>
                    <input name="data.attributes.init.value" type="text" placeholder="0"
                           data-dtype="{{data.attributes.init.type}}"
                           value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}"/>
                </footer>
            </div>
        </div>

        <div class="primary-attributes">
            <div class="attribute">
                <h4 class="attribute-name">Hit Dice</h4>
                <div class="attribute-value">
                    <input name="data.attributes.hd.value" type="text" placeholder="1"
                           value="{{data.attributes.hd.value}}" data-dtype="{{data.attributes.hd.type}}"/>
                    <span> / </span>
                    <span>{{data.details.level.value}}</span>
                </div>
                <footer class="attribute-footer">
                    <a class="rest short-rest">S. Rest</a>
                    <a class="rest long-rest">L. Rest</a>
                </footer>
            </div>

            <div class="attribute">
                <h4 class="attribute-name">
                    <input name="data.resources.primary.label" type="text" class="resource-label" placeholder="Primary"
                           value="{{data.resources.primary.label}}" data-dtype="String" />
                </h4>
               <div class="attribute-value">
                   <input name="data.resources.primary.value" type="text" value="{{data.resources.primary.value}}"
                          data-dtype="Number" placeholder="0"/>
                   <span class="flex0"> / </span>
                   <input name="data.resources.primary.max" type="text" value="{{data.resources.primary.max}}"
                          data-dtype="Number" placeholder="0"/>
               </div>
                <footer class="attribute-footer flexrow recharge">
                    <span>SR</span>
                    <input name="data.resources.primary.sr" type="checkbox" data-dtype="Boolean"
                           {{checked data.resources.primary.sr}}/>
                    <span>LR</span>
                    <input name="data.resources.primary.lr" type="checkbox" data-dtype="Boolean"
                           {{checked data.resources.primary.lr}}/>
                </footer>
            </div>
            
            <div class="attribute">
                <h4 class="attribute-name">
                    <input name="data.resources.secondary.label" type="text" class="resource-label"
                           placeholder="Secondary" value="{{data.resources.secondary.label}}" data-dtype="String"/>
                </h4>
               <div class="attribute-value">
                   <input name="data.resources.secondary.value" type="text" value="{{data.resources.secondary.value}}"
                          data-dtype="Number" placeholder="0"/>
                   <span class="flex0"> / </span>
                   <input name="data.resources.secondary.max" type="text" value="{{data.resources.secondary.max}}"
                          data-dtype="Number" placeholder="0"/>
               </div>
                <footer class="attribute-footer flexrow recharge">
                    <span>SR</span>
                    <input name="data.resources.secondary.sr" type="checkbox" data-dtype="Boolean"
                           {{checked data.resources.secondary.sr}}/>
                    <span>LR</span>
                    <input name="data.resources.secondary.lr" type="checkbox" data-dtype="Boolean"
                           {{checked data.resources.secondary.lr}}/>
                </footer>
            </div>

            <div class="attribute">
                <h4 class="attribute-name">Speed</h4>
                <div class="attribute-value">
                    <span class="flex0">  </span>
                    <input name="data.attributes.speed.value" type="text" value="{{data.attributes.speed.value}}"
                           data-dtype="{{data.attributes.speed.type}}" placeholder="0"/>
                </div>
                <footer class="attribute-footer">
                    <input type="text" class="speed" name="data.attributes.speed.special" placeholder="Swim / Fly"
                           data-dtype="{{data.attributes.speed.type}}" value="{{data.attributes.speed.special}}"/>
                </footer>
            </div>
        </div>

        <!-- STATUS EFFECTS -->
        <div class="statuses">
            <div class="status death">
                <h4>Death Saves</h4>
                <div class="status-value">
                    <i class="fas fa-check"></i>
                    <input type="text" name="data.attributes.death.success" data-dtype="Number" placeholder="0"
                           value="{{data.attributes.death.success}}"/>
                    <i class="fas fa-times"></i>
                    <input type="text" name="data.attributes.death.failure" data-dtype="Number" placeholder="0"
                           value="{{data.attributes.death.failure}}"/>
                </div>
            </div>
            <div class="status exhaustion">
                <h4>Exhaustion</h4>
                <div class="status-value">
                    <input type="text" name="data.attributes.exhaustion.value" data-dtype="Number" placeholder="0"
                           value="{{data.attributes.exhaustion.value}}" />
                </div>
            </div>
            <div class="status inspiration">
                <h4>Inspiration</h4>
                <div class="status-value">
                    <input type="checkbox" name="data.attributes.inspiration.value" data-dtype="Boolean"
                           {{checked data.attributes.inspiration.value}}/>
                </div>
            </div>
        </div>

        <nav class="sheet-tabs tabs" data-tab-container="primary">
            <a class="item" data-tab="inventory">Inventory</a>
            <a class="item" data-tab="spellbook">Spellbook</a>
            <a class="item" data-tab="feats">Feats</a>
            <a class="item active" data-tab="biography">Biography</a>
        </nav>

        <!-- INVENTORY -->
        <div class="tab inventory" data-tab="inventory">
            <ol class="currency">
                {{#each data.currency as |c i|}}
                <li class="denomination {{i}}">
                    <label>{{c.label}}:</label>
                    <input type="text" name="data.currency.{{i}}.value" value="{{c.value}}" data-dtype="{{c.type}}"/>
                </li>
                {{/each}}
            </ol>

            <ol class="inventory-list directory-list">
            {{#each actor.inventory as |section sid|}}
                <li class="item inventory-header">
                    <h3 class="item-name">{{section.label}}</h3>
                    <span class="item-quantity">Qty.</span>
                    <span class="item-weight">Wt.</span>
                    {{#if ../owner}}
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create Item" data-item-type="{{sid}}"><i class="fas fa-plus"></i> Add</a>
                    </div>
                    {{/if}}
                </li>
                {{#each section.items as |item iid|}}
                <li class="item" data-item-id="{{item.id}}">
                    <div class="item-name">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <h4 class="rollable">
                            {{item.name}}
                            {{#if item.data.attuned.value}}<i class="prepared fas fa-haykal"></i>{{/if}}
                        </h4>
                        {{#if item.hasCharges}}
                        <span class="item-charges">({{item.data.charges.value}}/{{item.data.charges.max}})</span>
                        {{/if}}
                    </div>
                    <span class="item-quantity">{{item.data.quantity.value}}</span>
                    <span class="item-weight">{{item.totalWeight}}</span>

                    {{#if ../../owner}}
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}
                </li>
                {{/each}}
            {{/each}}
            </ol>

            <div class="encumbrance">
                <span class="encumbrance-label">{{data.attributes.encumbrance.value}} / {{data.attributes.encumbrance.max}}</span>
                <span class="encumbrance-bar" style="width:{{data.attributes.encumbrance.pct}}%"></span>
            </div>
        </div>

        <!-- SPELLBOOK -->
        <div class="tab spellbook" data-tab="spellbook">
            <div class="form-group spellcasting-ability">
                <label>Spellcasting Ability</label>
                <select name="data.attributes.spellcasting.value" data-type="String">
                    {{#select data.attributes.spellcasting.value}}
                    <option value="">None</option>
                    {{#each data.abilities as |abl a|}}
                    <option value="{{a}}">{{abl.label}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            <ol class="inventory-list directory-list">
            {{#each actor.spellbook as |section lvl|}}
                <li class="item inventory-header spellbook-header">
                    <div class="item-name flexrow">
                        <h3>{{section.label}}</h3>

                        {{#unless section.isCantrip}}
                        <span class="spell-slots">
                            <input type="text" name="data.spells.spell{{lvl}}.value" value="{{section.uses}}" placeholder="0"/>
                        </span>
                        <span class="flex0"> / </span>
                        <span class="spell-max">
                            <input type="text" name="data.spells.spell{{lvl}}.max" value="{{section.slots}}" placeholder="0"/>
                        </span>
                        {{else}}
                        <span class="spell-slots">&infin;</span>
                        <span class="flex0"> / </span>
                        <span class="spell-max">&infin;</span>
                        {{/unless}}
                    </div>

                    <div class="spell-school">School</div>
                    <div class="spell-action">Action</div>

                    {{#if ../owner}}
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create Spell" data-item-type="spell"
                           data-spell-level="{{lvl}}"><i class="fas fa-plus"></i> Add</a>
                    </div>
                    {{/if}}
                </li>

                {{#each section.spells as |item i|}}
                <li class="item" data-item-id="{{item.id}}">
                    <div class="item-name">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <h4 class="rollable">
                            {{item.name}}
                            {{#if item.data.prepared.value}}<i class="prepared fas fa-haykal"></i>{{/if}}
                        </h4>
                    </div>

                    <div class="spell-school">{{item.data.school.str}}</div>
                    <div class="spell-action">{{item.data.time.value}}</div>

                    {{#if ../../owner}}
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}
                </li>
                {{/each}}
            {{else}}
                <li class="item inventory-header spellbook-header spellbook-empty">
                    {{#if owner}}
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create Spell" data-item-type="spell"
                           data-spell-level="{{lvl}}"><i class="fas fa-plus"></i> Add Spell</a>
                    </div>
                    {{/if}}
                </li>
            {{/each}}
            </ol>
       </div>

        <!-- FEATS -->
        <div class="tab feats" data-tab="feats">
            <ol class="inventory-list directory-list">
                <li class="item inventory-header">
                    <div class="item-name flexrow">
                        <h3>Ability Name</h3>
                    </div>
                    <div class="ability-req">Requirements</div>

                    {{#if owner}}
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create Ability" data-item-type="feat">
                            <i class="fas fa-plus"></i> Add</a>
                    </div>
                    {{/if}}
                </li>

                {{#each actor.feats as |item i|}}
                <li class="item" data-item-id="{{item.id}}">
                    <div class="item-name">
                        <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                        <h4 class="rollable">{{item.name}}</h4>
                    </div>

                    <div class="ability-req">{{item.data.requirements.value}}</div>

                    {{#if ../owner}}
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Ability"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Ability"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}
                </li>
                {{/each}}
            </ol>
        </div>

        <!-- BIOGRAPHY -->
        <div class="tab biography active editor" data-tab="biography">
            {{editor content=data.details.biography.value target="data.details.biography.value" button=true}}
        </div>
    </section>

    <!-- SIDEBAR -->
    <section class="sheet-sidebar">
        <img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" height="220" width="220" data-edit="img"/>

        <nav class="sheet-tabs tabs" data-tab-container="sidebar">
            <a class="item active" data-tab="abilities">Abilities</a>
            <a class="item" data-tab="skills">Skills</a>
            <a class="item" data-tab="traits">Traits</a>
        </nav>

        <!-- ABILITY SCORES -->
        <div class="tab abilities active" data-tab="abilities">
            <ol class="abilities-list">
            {{#each data.abilities as |ability id|}}
                <li class="ability" data-ability="{{id}}">
                    <input type="hidden" name="data.abilities.{{id}}.proficient" value="{{ability.proficient}}"
                           data-dtype="Number"/>
                    <a class="ability-proficiency" title="{{ability.hover}}">{{{ability.icon}}}</a>
                    <h4 class="ability-name rollable">{{ability.label}}</h4>
                    <span class="ability-mod" title="Modifier">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                    <span class="ability-score" title="Ability Score">
                        <input name="data.abilities.{{id}}.value" type="text" value="{{ability.value}}"
                               data-dtype="Number" placeholder="10"/>
                    </span>
                    <span class="ability-save" title="Saving Throw">{{numberFormat ability.save decimals=0 sign=true}}</span>
                </li>
            {{/each}}
            </ol>

            <!-- CLASS LIST -->
            <header class="class-header">
                <h3>Class Levels</h3>
                {{#if owner}}
                <a class="item-create" data-item-type="class"><i class="fa fa-plus"></i> Add</a>
                {{/if}}
            </header>

            <ol class="class-list inventory-list directory-list">
                {{#each actor.classes}}
                <li class="item" data-item-id="{{this.id}}">
                    <h4 class="class-name">{{this.name}}</h4>
                    <span class="class-levels">{{this.data.levels.value}}</span>
                    <span class="class-subclass">{{this.data.subclass.value}}</span>
                    {{#if ../owner}}
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}
                </li>
                {{/each}}
            </ol>

        </div>

        <!-- SKILLS -->
        <div class="tab skills active" data-tab="skills">
            <ol class="directory-list">
            {{#each data.skills as |skill s|}}
                <li class="skill" data-skill="{{s}}">
                    <input type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number"/>
                    <a class="skill-proficiency" title="{{skill.hover}}">{{{skill.icon}}}</a>
                    <h4 class="skill-name rollable">{{skill.label}}</h4>
                    <span class="skill-ability">{{skill.ability}}</span>
                    <span class="skill-mod">{{numberFormat skill.mod decimals=0 sign=true}}</span>
                </li>
            {{/each}}
            </ol>
        </div>

        <!-- TRAITS -->
        <div class="tab traits active" data-tab="traits">

            <div class="form-group-stacked">
                <label>{{data.traits.size.label}}</label>
                <input type="text" name="data.traits.size.value" data-dtype="{{data.traits.size.type}}"
                       value="{{data.traits.size.value}}" placeholder="Medium"/>
            </div>

            <div class="form-group-stacked">
                <label>{{data.traits.perception.label}}</label>
                <input type="text" name="data.traits.perception.value" data-dtype="{{data.traits.perception.type}}"
                       value="{{data.traits.perception.value}}" placeholder="Value"/>
            </div>

            <div class="form-group-stacked">
                <label>{{data.traits.senses.label}}</label>
                <input type="text" name="data.traits.senses.value" data-dtype="{{data.traits.senses.type}}"
                       value="{{data.traits.senses.value}}" placeholder="None"/>
            </div>

            <div class="form-group-stacked">
                <label>{{data.traits.languages.label}}</label>
                <input type="text" name="data.traits.languages.value" data-dtype="{{data.traits.languages.type}}"
                       value="{{data.traits.languages.value}}" placeholder="Common"/>
            </div>

            <div class="form-group-stacked">
                <label>{{data.traits.di.label}}</label>
                <input type="text" name="data.traits.di.value" data-dtype="{{data.traits.di.type}}"
                       value="{{data.traits.di.value}}" placeholder="None"/>
            </div>
            
            <div class="form-group-stacked">
                <label>{{data.traits.dr.label}}</label>
                <input type="text" name="data.traits.dr.value" data-dtype="{{data.traits.dr.type}}"
                       value="{{data.traits.dr.value}}" placeholder="None"/>
            </div>
            
            <div class="form-group-stacked">
                <label>{{data.traits.dv.label}}</label>
                <input type="text" name="data.traits.dv.value" data-dtype="{{data.traits.dv.type}}"
                       value="{{data.traits.dv.value}}" placeholder="None"/>
            </div>
            
            <div class="form-group-stacked">
                <label>{{data.traits.ci.label}}</label>
                <input type="text" name="data.traits.ci.value" data-dtype="{{data.traits.ci.type}}"
                       value="{{data.traits.ci.value}}" placeholder="None"/>
            </div>
        </div>
    </section>
</form>
