<form class="dnd5e item-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <ol class="item-details">
        <li>
            <label>Quantity</label>
            <input type="text" name="data.quantity.value" value="{{data.quantity.value}}" data-dtype="{{data.quantity.type}}"/>
        </li>
        <li>
            <label>Weight</label>
            <input type="text" name="data.weight.value" value="{{data.weight.value}}" data-dtype="{{data.weight.type}}"/>
        </li>
        <li>
            <label>Price</label>
            <input type="text" name="data.price.value" value="{{data.price.value}}" data-dtype="{{data.price.type}}"/>
        </li>
    </ol>

    <nav class="sheet-tabs tabs" data-tab-container="primary">
        <a class="item active" data-tab="description">Description</a>
        <a class="item" data-tab="details">Details</a>
    </nav>

    <div class="tab active" data-tab="description">
        {{editor content=data.description.value target="data.description.value" button=true}}
    </div>

    <div class="tab" data-tab="details">
        <div class="form-group">
            <label>{{data.armor.label}}</label>
            <input type="text" name="data.armor.value" value="{{data.armor.value}}" data-dtype="{{data.armor.type}}"/>
        </div>

        <div class="form-group">
            <label>{{data.armorType.label}}</label>
            <select name="data.armorType.value" data-dtype="{{data.armorType.type}}">
                {{#select data.armorType.value}}
                <option value=""></option>
                {{#each armorTypes as |name type|}}
                <option value="{{type}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="form-group">
            <label>{{data.strength.label}}</label>
            <input type="text" name="data.strength.value" value="{{data.strength.value}}" data-dtype="{{data.strength.type}}"/>
        </div>

         <div class="form-group">
            <label>{{data.stealth.label}}</label>
            <input type="checkbox" name="data.stealth.value" value="1" data-dtype="{{data.stealth.type}}" {{checked data.stealth.value}}/>
        </div>

         <div class="form-group">
            <label>{{data.proficient.label}}</label>
            <input type="checkbox" name="data.proficient.value" value="1" data-dtype="{{data.proficient.type}}" {{checked data.proficient.value}}/>
        </div>

         <div class="form-group">
            <label>{{data.attuned.label}}</label>
            <input type="checkbox" name="data.attuned.value" value="1" data-dtype="{{data.attuned.type}}" {{checked data.attuned.value}}/>
        </div>

         <div class="form-group">
            <label>{{data.equipped.label}}</label>
            <input type="checkbox" name="data.equipped.value" value="1" data-dtype="{{data.equipped.type}}" {{checked data.equipped.value}}/>
        </div>
    </div>
</form>
