<form class="dnd5e item-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>

    <nav class="sheet-tabs tabs" data-tab-container="primary">
        <a class="item active" data-tab="description">Description</a>
        <a class="item" data-tab="details">Details</a>
    </nav>

    <div class="tab active" data-tab="description">
        {{editor content=data.description.value target="data.description.value" button=true}}
    </div>

    <div class="tab" data-tab="details">
        <div class="form-group">
            <label>{{data.levels.label}}</label>
            <input type="text" name="data.levels.value" value="{{data.levels.value}}" data-dtype="{{data.levels.type}}"/>
        </div>

        <div class="form-group">
            <label>{{data.subclass.label}}</label>
            <input type="text" name="data.subclass.value" value="{{data.subclass.value}}" data-dtype="{{data.subclass.type}}"/>
        </div>
    </div>
</form>
